<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Oxygen:400,300' rel='stylesheet' type='text/css'>
</head>
  
<div id="wrapper">


  <div id="map"></div>




  <div id= "sidebar">
    
<!--     <div id="testing"></div> -->


    <!-- <input onclick="deleteMarkers();" type=button value="Clear Markers"> -->

  </div> 

</div>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKUPCwHaNDJxqzq3tCvFnE_FUbsnanOZ0&callback=initMap">
    </script>
