<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Oxygen:400,300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
</head>
  
<div id="wrapper">
  
  
    <div id="floating-panel">
      <input id="address" type="textbox" value="Sydney, NSW">
      <input id="submit" type="button" value="Search">
    </div>




  <div id="map"></div>




  <div id="sidebar">
  
  <div id="start">
    <h1 id="goldminer">Goldminer</h1>
    <p class="blurb">Why waste your time dating poor people?<br>
    <p class="blurb">Secure your future <span class="green">NOW!</span></p>
    <p class="blurb2">Click a place on the map and find <span class="love">"true love"</span></p>
  </div> 
<!--     <div id="testing"></div> -->
  <div id="loading"><img src="/assets/dashinfinity.gif"/></div>

    <!-- <input onclick="deleteMarkers();" type=button value="Clear Markers"> -->

  </div> 

</div>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKUPCwHaNDJxqzq3tCvFnE_FUbsnanOZ0&callback=initMap">
    </script>
